body {
    overflow-x: hidden;
  }
div#footer{
    background-color: black;
    height: 420px;
    display: flex;
    flex-direction: column;
    color: white;
}

div#footer #footer-section-1{
    display: flex;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0 20px;
}
div#footer 
#footer-section-1 
.footer-data 
.footer-data-head{
    font-family: 'Oswald';
    font-weight: 900;
    font-size: 18px;
}

div#footer 
#footer-section-1 
.footer-data 
.footer-data-body{
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #828282;
    font-size: 12px;
}

div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-sub{
    margin-top: 15px;
}
div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-sub
.footer-data-sub-head{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 11px;
    color: white;
}

div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-items{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-items
.footer-data-item-caption{
    margin-left: 10px;
}
div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-input{
    border: 1px solid white;
    height: 30px;
    color: white;
    padding-left: 10px;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 400;
}
div#footer 
#footer-section-1 
.footer-data 
.footer-data-body
.footer-data-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: white;
    color: black;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

div#footer #footer-section-2{
    display: flex;
    height: 70px;
}
div#footer #footer-section-2 .copyright{
    width: 100%;
    margin: 0 20px;
    border-top: 1px solid #4f4f4f;
    padding-top: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
}