body {
  overflow-x: hidden;
}
div#content {
  /* height: 100vh; */
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}
div#content #ad {
  padding: 10px;
  position: relative;
}
div#content #ad #ad-bgd {
  height: 500px;
}

div#content #ad #ad-bgd img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

div#content #ad #ad-content {
  background-image: url("kadal.png");
  height: 500px;
  width: 100vw;
  top: 10px;
  left: 15vw;
  display: flex;
  justify-content: center;
}

div#content #ad #ad-content > div {
  width: 35vw;
}
div#content #ad #ad-content #ad-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  align-items: flex-start;
}
div#content #ad #ad-content #ad-data #ad-data-border {
  height: 20%;
  width: 65%;
  position: absolute;
  border-top: 2px solid black;
  border-right: 2px solid black;
  height: 20%;
  width: 65%;
  position: absolute;
  border-top: 2px solid black;
  border-right: 2px solid black;
  right: 20%;
  top: 0;
  transform: translate(35%, 50%);
}
div#content #ad #ad-content #ad-data #ad-data-text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: uppercase;
}
div#content #ad #ad-content #ad-data #ad-data-text .black-border-text {
  color: white;
  text-shadow: 2px 0px 0px #000000, 0px 2px 0px #000000, -2px 0px 0px #000000,
    0px -2px 0px #000000, 2px 2px 0px #000000, -2px 2px 0px #000000,
    -2px -2px 0px #000000, 2px -2px 0px #000000;
}
div#content #ad #ad-content #ad-data #ad-data-button {
  border: 2px solid black;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
  padding: 5px 30px;
}
div#content #ad #ad-content #ad-data #ad-data-button:hover {
  transition: all 0.5s ease-in-out;
  color: white;
  background-color: #000000;
}

div#content #ad #ad-content #ad-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
div#content #ad #ad-content #banner-1-button {
  position: absolute;
}

div#content #brand-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

div#content #brand-list #choose-ur-brand {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  position: absolute;
  width: calc(100% - 20px);
  transform: translateY(-50%);
}
div#content #brand-list #choose-ur-brand div {
  background-color: white;
  padding: 0 30px;
}
div#content #brand-list #brands {
  display: flex;
  border: 2px solid #c4c4c4;
  min-height: 105px;
  justify-content: space-around;
  cursor: pointer;
}
div#content #brand-list #brands .brand {
  margin: 10px 0;
  padding: 0 10px;
}
div#content #brand-list #brands img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
div#content #brand-list #brands :hover {
  background-color: #f0f2f2;
}

div#content #other-ad {
  height: 700px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

div#content #other-ad div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
div#content #other-ad > div {
  width: 49%;
}

div#content #other-ad #section-2 {
  position: relative;
}
div#content #other-ad #section-2 #ad-content-of-section-2 {
  height: auto;
}
div#content #other-ad #section-2 #ad-content-of-section-2 .ad-head {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 83px;
}
div#content #other-ad #section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div#content #other-ad #section-1 > div {
  height: 49%;
  position: relative;
}

.ad-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  justify-content: center;
}
.ad-content > div {
  margin-bottom: 10px;
}
.ad-content .ad-head {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}
.ad-content .ad-sub-head {
  font-family: "Roboto";
  font-size: 16px;
}
.ad-content .ad-button {
  border: 2px solid black;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
  padding: 5px 30px;
  margin-top: 30px;
}
.ad-content .ad-button:hover {
  transition: all 0.5s ease-in-out;
  color: white;
  background-color: #000000;
}

.ad-content.right {
  right: 10%;
}
.ad-content.left {
  left: 10%;
}
.ad-content.bottom {
  bottom: 10%;
}

div#content #collection {
  display: flex;
  justify-content: space-between;
}
div#content #collection #collect {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-left: 1px solid #c4c4c4;
}
div#content 
/* #collection
#collect */
.wishlist-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
div#content 
/* #collection
#collect */
.wishlist-row
.wishlist-item {
  display: flex;
  flex-direction: column;
  width: 17vw;
}

div#content 
/* #collection
#collect */
.wishlist-row
.wishlist-item 
img {
  width: 100%;
}
div#content 
/* #collection
#collect */
.wishlist-row
.wishlist-item > div {
  margin-bottom: 5px;
}
div#content 
/* #collection
#collect */
.wishlist-row
.wishlist-item
.wishlist-name {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-right: 30px;
}
div#content 
/* #collection
#collect */
.wishlist-row
.wishlist-item
.wishlist-amout {
  font-family: "Roboto";
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

div#content #collection #collect #load-collect {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#content #collection #collect #load-collect #load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 11px;
  height: 40px;
  width: 100px;
  border: 2px solid #c4c4c4;
  color: #828282;
}

div#content #collection #collect #load-collect #load-more:hover {
  color: #000000;
  background-color: #c4c4c4;
}

div#content #collection #side-bar {
  width: 25vw;
}
div#content 
/* #collection
#side-bar */
.side-bar-head {
  margin: 30px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}
div#content #collection #side-bar .side-bar-item {
  margin-left: 50px;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #3f3f3f;
  cursor: pointer;
}
div#content #collection #side-bar .side-bar-item:hover,
div#content #collection #side-bar .side-bar-item.selected {
  font-weight: 600;
  color: #000000;
}
div#content .ad-x {
  padding: 30px 15px;
}
div#content .ad-x .ad-container {
  position: relative;
}

div#content .ad-x img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div#content #ad-4 {
  width: 90vw;
}
.ad-data {
  position: absolute;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.ad-data > div {
  margin-bottom: 5px;
}
.ad-data .ad-data-head {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 42px;
  text-transform: uppercase;
  color: #000000;
}
.ad-data .ad-data-text {
  font-family: "Roboto";
  font-size: 18px;
  color: #000000;
  font-weight: 200;
}
.ad-data .ad-data-button {
  border: 2px solid black;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
  padding: 5px 30px;
  margin-top: 30px;
}
.ad-data .ad-data-button:hover {
  transition: all 0.5s ease-in-out;
  color: white;
  background-color: #000000;
}
.ad-data .ad-data-border {
  height: 10%;
  width: 75%;
  position: absolute;
  border-top: 2px solid black;
  border-right: 2px solid black;
  left: 0;
  top: 0;
  transform: translate(10%, 20%);
}
.ad-data.left {
  left: 10%;
  top: 10%;
}
.ad-data.right {
  right: 5%;
  top: 10%;
}

.full-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  padding: 5px;
}
.full-container .row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.row .column .hr {
  border: 1px solid black;
  width: 100%;
  /* position: absolute; */
  align-self: center;
  /* bottom: 15px; */
}
.column {
  width: 23vw;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row .column .title {
  color: #bdbdbd;
  font-family: Oswald;
  font-size: 13px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.row .column .title-2 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
}
.row .column .paragraph {
  font-family: Roboto Light;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 15px;
}
.row .column .date {
  color: #646461;
  /* margin-top: 308px; */
  font-size: 12px;
  position: absolute;
}

.ad-data-heading {
  position: relative;
}

div#content .wishlist-row .wishlist-item .wishlist-cat {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 9px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #bdbdbd;
}