body {
    overflow-x: hidden;
  }
div#content{
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
div#content > div{
    width:80vw;
}
div#content #content-path{
    height:21px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828282;
}
div#content #content-head{
    height:42px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

}
div#content #content-form{
    height:770px;
    /* border: 1px solid #C4C4C4; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div#content 
#content-form 
#sections{
    margin-top: 49px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}


div#content 
#content-form 
#sections
#product-table{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
div#content 
#content-form 
#sections
#product-table
.table-head{
    display: flex;
    align-items: center;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    height: 30px;
    border-bottom: 1px solid #c4c4c4;
}
div#content 
#content-form 
#sections
#product-table
.product-name{
    width: 18vw;
}
div#content 
#content-form 
#sections
#product-table
.product-price{
    width: 7vw;
}
div#content 
#content-form 
#sections
#product-table
.product-size{
    width: 6vw;
}
div#content 
#content-form 
#sections
#product-table
.product-quantity{
    width: 7vw;
}
div#content 
#content-form 
#sections
#product-table
.product-total{
    width: 12vw;
}

div#content 
#content-form 
#sections
#product-table
.table-data{
    display: flex;
    margin-top: 10px;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
/* div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.product-image{
} */
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color
.color{
    height: 13px;
    width: 13px;
    border: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;   
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color
.color
div{
    height: 10px;
    width: 10px;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color
.color 
.blue{
    background-color: #5884AA;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color
.color 
.red{
    background-color: #C35C71;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-name
.name-n-color
.name{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-price,
div#content 
#content-form 
#sections
#product-table
.table-data
.product-size,
div#content 
#content-form 
#sections
#product-table
.table-data
.product-quantity,
div#content 
#content-form 
#sections
#product-table
.table-data
.product-total{
    font-family: 'Oswald';
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


div#content 
#content-form 
#sections
#product-table
.table-data
.product-quantity
.quantity-counter{
    display: flex;
    border: 1px solid #C4C4C4;
}

div#content 
#content-form 
#sections
#product-table
.table-data
.product-quantity
.quantity-counter > div {
    height: 30px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#content 
#content-form 
#sections
#product-table
.table-data
.product-total{
    display: flex;
    justify-content: space-between;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-total
.buttons{
    display: flex;
}
div#content 
#content-form 
#sections
#product-table
.table-data
.product-total
.buttons > div{
    margin-left: 2px;
}

div#content 
#content-form 
#sections
#product-table
.table-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #C4C4C4;
}
div#content 
#content-form 
#sections
#product-table
.table-buttons
.grey-button{
    height:30px;
    width:12vw;
    border: 1px solid #C4C4C4;
    color: #828282;
    background-color: #F0F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Bill Section */

div#content 
#content-form 
#sections
#bill{
    width: 25vw;
}
div#content 
#content-form 
#sections
#bill > div{
    margin-bottom: 20px;
}

div#content 
#content-form 
#sections
#bill
.big-bold-font{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}
div#content 
#content-form 
#sections
#bill
.small-light-font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #828282;
}
div#content 
#content-form 
#sections
#bill
.medium-bold-font{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000000;
}
div#content 
#content-form 
#sections
#bill
.medium-light-font{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #828282;
}
div#content 
#content-form 
#sections
#bill
.small-font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: #000000;
}
div#content 
#content-form 
#sections
#bill
.small-light-font{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: #828282;
}

div#content 
#content-form 
#sections
#bill
#discount{
    background: #F0F2F2;
    border: 2px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 15px;
}

div#content 
#content-form 
#sections
#bill
#discount
#visible > div,
div#content 
#content-form 
#sections
#bill
#discount
#hidden > div{
    margin-bottom: 10px;
}
div#content 
#content-form 
#sections
#bill
#discount
#visible
#discount-code{
    display: flex;
    position: relative;
}
div#content 
#content-form 
#sections
#bill
#discount
#visible
#discount-code
#discount-code-input{
    width: 100%;
    height: 25px;
    border: 1px solid #C4C4C4;
}
div#content 
#content-form 
#sections
#bill
#discount
#visible
#discount-code
#discount-code-button{
    position: absolute;
    right: 10px;
    top:0;
    bottom: 0;
}

div#content 
#content-form 
#sections
#bill
#discount
#visible
#shiping-estimate-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

/*  */
/*  */

/* div#content 
#content-form 
#sections
#bill
#discount
#hidden{
    display: none;
} */

div#content 
#content-form 
#sections
#bill
#discount
#hidden
.section-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#content 
#content-form 
#sections
#bill
#discount
#hidden
.section-input
.section-input-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
div#content 
#content-form 
#sections
#bill
#discount
#hidden
.section-input
.section-input-box{
    height: 25px;
    min-width: 15vw;
    border: 1px solid #C4C4C4;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #828282;
    padding-left: 10px;
}
div#content 
#content-form 
#sections
#bill
#discount
#hidden
.section-input-label-mandatory{
    color: red;
}

div#content 
#content-form 
#sections
#bill
#discount
#hidden
.rate{
    display: flex;
}

div#content 
#content-form 
#sections
#bill
#total{
    background: #F0F2F2;
    border: 2px solid #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 15px;
}

div#content 
#content-form 
#sections
#bill
#total
.total-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
div#content 
#content-form 
#sections
#bill
#total
.light-button{
    margin-top: 15px;
    border-top: 2px solid #C4C4C4;
    height: 40px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #828282;
}
div#content 
#content-form 
#sections
#bill
#total
.dark-button{
    height: 40px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    background-color: #000000;
}