body {
    overflow-x: hidden;
  }

div#content 
#collection{
    display: flex;
    justify-content: space-between;
}
div#content 
#collection
#collect{
    margin: 30px 0;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-left: 1px solid #C4C4C4;
}
div#content
.wishlist-row{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}
div#content 
.wishlist-row
.wishlist-item{
    display: flex;
    flex-direction: column;
    width: 17vw;
}

div#content 
.wishlist-row
.wishlist-item 
img {
    width: 100%;
}
div#content 
.wishlist-row
.wishlist-item > div{
    margin-bottom: 5px;
}
div#content 
.wishlist-row
.wishlist-item
.wishlist-name{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-right: 30px;
}
div#content 
.wishlist-row
.wishlist-item
.wishlist-amout{
    font-family: 'Roboto';
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
div#content 
.wishlist-row
.wishlist-item
.wishlist-cat{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 9px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #BDBDBD;
}
div#content 
#collection
#collect
#load-collect{
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#content 
#collection
#collect
#load-collect
#load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 11px;
    height: 40px;
    width: 100px;
    border: 2px solid #C4C4C4;
    color: #828282;
}

div#content 
#collection
#collect
#load-collect
#load-more:hover{
    color: #000000;
    background-color: #C4C4C4;
}

div#content 
.ad-x{
    padding: 30px 15px;
}

div#content 
.ad-x
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div#content 
#ad-1{
    width: 90vw;
}

div#content
#catalog-head{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: #828282;
    padding: 10px 30px;
}


div#content
.palatte-collection{
    display: flex;
    flex-wrap: wrap;
    max-width: 15vw;
}
div#content
.palatte-collection
.color{
    margin-right: 10px;
    height: 17px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* div#content
.palatte-collection
.color:hover{
    border: 1px solid black;
    box-sizing: border-box;
} */
div#content
.palatte-collection
.color.selected{
    border: 2px solid black;
}
div#content
.palatte-collection
.color
div{
    height: 13px;
    width: 13px;
}


div#content
.palatte-collection
.color.navy-blue
div{
    background-color: #24426A;
}
div#content
.palatte-collection
.color.dark-green
div{
    background-color: #18574A;
}
div#content
.palatte-collection
.color.magenta
div{
    background-color: #971E34;
}
div#content
.palatte-collection
.color.yellow
div{
    background-color: yellow;
}
div#content
.palatte-collection
.color.aqua
div{
    background-color: aqua;
}
div#content
.palatte-collection
.color.blueviolet
div{
    background-color: blueviolet;
}
div#content
.palatte-collection
.color.salmon
div{
    background-color: salmon;
}
div#content
.palatte-collection
.color.teal
div{
    background-color: palevioletred;
}
div#content
.palatte-collection
.color.gold
div{
    background-color: gold;
}



/* SIDE BAR */


div#content 
#collection
#side-bar{
    width:25vw ;
}
div#content 
.side-bar-head{
    margin: 30px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}
div#content 
#collection
#side-bar
.side-bar-box > div{
    margin-left: 30px;
    margin-right: 30px;
}
div#content 
#collection
#side-bar
.side-bar-box
.side-bar-item{
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #3F3F3F;
    cursor: pointer;
    display: flex;
}

div#content 
#collection
#side-bar
.side-bar-box
.side-bar-text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    max-width: 20vw;
}
div#content 
#collection
#side-bar
.side-bar-box
.side-bar-item
div{
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin-right: 5px;
}
div#content 
#collection
#side-bar
.side-bar-box
.side-bar-item:hover,
div#content 
#collection
#side-bar
.side-bar-box
.side-bar-item.selected{
    font-weight: 500;
    color: #000000;
}

div#content 
#collection
#side-bar
.side-bar-box
.side-bar-item.selected
div{
    background-color: black;
}
div#content 
#collection
#side-bar
.side-bar-box
.sizes-row{
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}

div#content 
#collection
#side-bar
.side-bar-box
.sizes-row
.size{
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #828282;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #828282;
    margin-right: 10px;
    box-sizing: border-box;
}

div#content 
#collection
#side-bar
.side-bar-box
.sizes-row
.size:hover,div#content 
#collection
#side-bar
.side-bar-box
.sizes-row
.size.selected{
    color: #000000;
    border: 2px solid black;
    font-weight: 600;
}

div#content 
#collection
#side-bar
.side-bar-box
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div#content 
#collection
#side-bar
#box{
    margin: 30px 10px 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}
div#content 
#collection
#side-bar
#box
#box-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#content 
#collection
#side-bar
#box
#box-head
#head-1{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
}
div#content 
#collection
#side-bar
#box
#box-head
#head-2{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
div#content 
#collection
#side-bar
#box
.box-item{
    margin-top: 15px;
}
div#content 
#collection
#side-bar
#box
.box-item > div{
    margin-top: 10px;
}
div#content 
#collection
#side-bar
#box
.box-item
.box-item-head{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}
div#content 
#collection
#side-bar
#box
.box-item
.box-item-data{
    display: flex;
}
div#content 
#collection
#side-bar
#box
.box-item
.box-item-data
.badge{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 10px;
}


#content .ad-x .ad-container .shop a {
    color: black;
    text-decoration: none;
  }
  